body {
  margin: 0;
  font-family: Catamaran, Helvetica, sans-serif;
  background: #1b252f;
}

* {
  border: none;
}

table {
  margin: 10px auto;
  width: 80%;
  height: 100%;
  min-height: 190px;
  min-width: 300px;
  background: #1b252f;
  border: 1px solid white;
  border-radius: 2px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

tbody {
  background: #1b252f;
  border-radius: 3px;
}

th {
  padding: 0 5px 0 5px;
}

tr {
  border: none;
  margin-top: 8px;
  border-bottom: 1px solid black;
  background: transparent;
  border-radius: 2px;
}

tr:nth-child(even) {
  background: #1b252f;
  color: white;
}
tr:nth-child(odd) {
  background: #fff;
  color: #1b252f;
}
tr:nth-child(1) {
  background: #1b252f;
  color: white;
  text-decoration: underline;
}

tr:last-child {
  background: #1b252f;
  height: 10px;
  font-size: 12px;
  text-align: right;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.link {
  padding: 0;
  padding-bottom: 2px;
}

td {
  padding: 0 5px 0 5px;
  border-radius: 2px;
}

td.nopad {
  display: none;
}

.center {
  text-align: center;
}
